<h3>Loading Meeting...</h3>

<div>
    <div class="col-md-8 col-md-offset-2 well" align="center">
        <h4>Hi {{name}}</h4>
        <h4>Please wait for the moderator to start the meeting:</h4>
        <h3>{{meetingName}}</h3>
        <h4>This page will automatically refresh and join the meeting when it starts.</h4>
    </div>

    <div class="loading">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
</div>
