<div class="logo"></div>
<h3>Login to our online learning portal</h3>

<div class="bsg-form">
    <form ng-submit="login()">
        <div class="form-group">
            <input type="txt" class="form-control input-lg" ng-model="username" id="username" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" id="pwd" ng-model="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default btn-info btn-lg">Login</button>
    </form>
    <div class="alert alert-warning" ng-show="message">{{message}}</div>
</div>