<div class="logo"></div>

<h3>Login</h3>

<div class="bsg-form login">
    <form ng-submit="login()">
        <div class="input-container pull-left">
            <input type="txt" class="form-control input-lg" ng-model="username" id="username" placeholder="Username">
            <input type="password" class="form-control input-lg" id="pwd" ng-model="password" placeholder="Password">
        </div>
        <div class="login-btn pull-right">
            <button type="submit" class="btn btn-default btn-info"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></button>
        </div>
    </form>
</div>

<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>