<div class="container">
    <div class="col-md-8 col-md-offset-2 available-meetings">
        <h3>Available Meetings</h3>
        <div class="btn-group-vertical btn-group-md">
            <button class="btn btn-default btn-info"
                    ng-repeat="meetup in meeting"
                    ng-click="goToMeetingAsAttendee($index)"
                    ng-class="{active:$index==selectedRow}"
                    data-ng-click="rowHighilited($index)">
                <span class="pull-left">{{meetup.name}}: {{meetup.createdBy.name}}</span>
                <span class="glyphicon glyphicon-circle-arrow-right pull-right" aria-hidden="true"></span>
                <span class="pull-right">{{meetup.status}}</span>
            </button>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2 your-meetings">
        <h3>Manage Your Meetings</h3>

        <table class="table table-condensed" id="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Moderator</th>
                <th>Status</th>
                <th class="checked"></th>
            </tr>
            </thead>
            <tr ng-repeat="meetup in myMeeting" ng-class="{active:$index==myMeetingsSelectedRow}"
                data-ng-click="rowHighlighted($index)">
                <td>{{meetup.name}}</td>
                <td>{{meetup.moderator.name}}</td>
                <td>{{meetup.status}}</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
        </table>
        <button type="button" class="btn btn-default" ng-click="createMeeting()">Create</button>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default">Edit</button>
            <button type="button" class="btn btn-default" ng-click="deleteMeeting()">Delete</button>
            <button type="button" class="btn btn-default btn-info start pull-right" ng-click="goToMeetingAsModerator()">
                Start <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default start pull-right" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">
                Share <span class="glyphicon glyphicon glyphicon-share"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ngclipboard data-clipboard-text={{myMeeting[myMeetingsSelectedRow].inviteURL}}>
                        <i class="fa fa-files-o"></i> Copy
                    </a>
                </li>
                <li>
                    <a socialshare socialshare-provider="email" socialshare-trigger="click" socialshare-subject="BSG - Big Blue Button shared link" socialshare-body={{myMeeting[myMeetingsSelectedRow].inviteURL}} socialshare-to="" >
                        <i class="fa fa-envelope-o"></i> Email
                    </a>
                </li>
                <li>
                    <a socialshare socialshare socialshare-provider="twitter" socialshare-text="Unlocking Potential > Accelerating Performance @bsgafrica - online meeting link " socialshare-url={{myMeeting[myMeetingsSelectedRow].inviteURL}} socialshare-hashtags="BSG" >
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                </li>
                <li>
                    <a socialshare socialshare-provider="facebook" socialshare-url={{myMeeting[myMeetingsSelectedRow].inviteURL}} >
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>