<div class="container">
    <div class=" col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Available Meetings</div>
            <div class="panel-body">
                <div class="col-md-12">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Meeting Name
                            </th>
                            <th>
                                Moderator Name
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                        </thead>
                        <tr ng-repeat="meetup in meeting" ng-class="{active:$index==selectedRow}"
                            data-ng-click="rowHighilited($index)">
                            <td><a href="#"/>{{meetup.name}}</td>
                            <td>{{meetup.createdBy}}</td>
                            <td>{{meetup.status}}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class=" col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Your Meetings</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table table-bordered" id="table">
                        <thead>
                        <tr>
                            <th>
                                Meeting Name
                            </th>
                            <th>
                                Moderator Name
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                        </thead>
                        <tr ng-repeat="meetup in myMeeting" ng-class="{active:$index==myMeetingsSelectedRow}"
                            data-ng-click="rowHighlighted($index)">
                            <td><a href="#"/>{{meetup.name}}</td>
                            <td>{{meetup.createdBy}}</td>
                            <td>{{meetup.status}}</td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-default" ng-click="createMeeting()">Create</button>
                    <button type="button" class="btn btn-default">Edit</button>
                    <button type="button" class="btn btn-default" ng-click="deleteMeeting()">Delete</button>
                    <div class="alert alert-info margin-top-5" ng-show="message">{{deleteMessage}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
