<div class="logo"></div>
<h3>Register with our online learning portal</h3>

<div class="bsg-form">
    <form ng-submit="submit()" name="register" novalidate>

        <div class="form-group" ng-class="{ 'has-error': register.name.$invalid && register.name.$dirty }">
            <input type="text" required maxlength="25" class="form-control input-lg" ng-model="appUser.name" id="name" name="name" placeholder="Name">
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': register.username.$invalid && register.username.$dirty }">
            <input type="text" required maxlength="40" class="form-control input-lg" ng-model="appUser.username" id="username" name="username" placeholder="Username (email)">
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': register.password.$invalid && register.password.$dirty }">
            <input type="password" required class="form-control input-lg" id="pwd" ng-model="appUser.password" name="password" placeholder="Password">
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': register.confirmPassword.$invalid && register.confirmPassword.$dirty }">
            <input type="password" name="confirmPassword" required class="form-control input-lg" id="cpwd" ng-model="confirmPassword" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-default btn-info btn-lg"
                ng-disabled="register.$invalid || (confirmPassword != appUser.password)">Register
        </button>
        <div class="alert alert-info" ng-show="message">{{message}}</div>
    </form>
    <div class="alert alert-warning" ng-show="confirmPassword != appUser.password ">
        Passwords do not Match!
    </div>
</div>