<html
        lang="en">

<head>
    <title>Noma</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>-->
</head>
<body>
<div class="container-fluid">
    <form action="">
        <div class="col-md-3">
            <h1>Login</h1>
            <br></br>
            Username: <input type="text" name="user">
            </input>
            <br></br>
            Password: <input type="password" name="password">
            </input>
        </div>
        <div class="col-md-2">
            <h1>Not Registered?</h1>
            <br></br>
            Click <a href="#">here</a> to register
        </div>
    </form>
</div>


</body>
</html>